extends layout

block content
  h1= title
  p Welcome to #{title}

  //p #{tickets}

  ul
    each ticket, index in tickets
      li= ticket.url

  // Navigation
  ul
    - for (var i=1; i<= number_pages; i++)
        li
          a(href="/"+ i) #{i}